/* new.ejs */

.add-btn{
    background-color:#fe424d !important;
    border: none !important;
    
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    border-radius: 10px;
}

/* show-Page */
.show-img{
    height: 30vh;
}

.btns{display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

